{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <img src="{% static '/images/pdso-logo-96.png' %}" style="width: 60px; height: 50px">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'students' %}">Database</a>
      </li>
      
    </ul>
  </div>
</nav>