{% load static %}
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-students">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Data</h5>
			  	</div>
				  
			  	<div class="card-body" >
			    	<h3 class="card-title">{{total_students}}</h3>
					<div>
						<a class="btn btn-primary  btn-sm btn-block"  href="{% url 'create_student' %}">Add New Data</a>
						<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"></div>
						
						
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="courses">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Companies</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ total_courses }}</h3>
					<div>
						<a class="btn btn-primary  btn-sm btn-block"  href="{% url 'create_student' %}">Add New Companies</a>
						<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"></div>
			  	</div>
			</div>
		</div>
	</div>
</div>
